<h1>Indian Mom</h1>
<h4><%= @question %></h4>
<h3><strong>-Your Dumbass</strong></h3>
<br>
<h4><%= @answer %></h4>
<h3><strong>-Your Indian Mother</strong></h3>
<br>
<h5><%= link_to "Ask a new question", ask_path %></h5>
