<h1>Indian Mom</h1>
<img src="http://i2.wp.com/shewalitiwari.com/wp-content/uploads/2014/08/kiron-kher-angry.gif" alt="Angry Indian Mother">
<form action="/answer" method="get">
  <input type="text" name="question">
  <input type="submit" value="Ask if you dare!">
</form>
<p>DISCLAIMER: DO NOT USE if you have been told you are 'great' and/or 'amazing' your entire life by your parents or you may potentially experience side-effects of drastically reduced self-esteem or being "shook."</p>
